<?xml version="1.0"?>
<config>
    <modules>
        <Riskified_Full>
            <version>1.0.9.5</version>
        </Riskified_Full>
    </modules>

    <global>
        <models>
            <paygate>
                <rewrite>
                    <authorizenet>Riskified_Full_Model_Authorizenet</authorizenet>
                </rewrite>
            </paygate>
            <paypal>
                <rewrite>
                    <payflowpro>Riskified_Full_Model_Payflowpro</payflowpro>
                </rewrite>
            </paypal>
            <full>
                <class>Riskified_Full_Model</class>
                <resourceModel>riskified_full_resource</resourceModel>
            </full>
            <riskified_full_resource>
                <class>Riskified_Full_Model_Resource</class>
                <entities>
                    <retry>
                        <table>riskified_full_retry</table>
                    </retry>
                    <historical_order_sent>
                        <table>riskified_full_historical_sent</table>
                    </historical_order_sent>
                </entities>
            </riskified_full_resource>
        </models>
        <blocks>
            <full>
                <class>Riskified_Full_Block</class>
            </full>
        </blocks>
        <resources>
            <riskified_full_setup>
                <setup>
                    <module>Riskified_Full</module>
                </setup>
            </riskified_full_setup>
        </resources>
        <helpers>
            <full>
                <class>Riskified_Full_Helper</class>
            </full>
        </helpers>
        <events>
            <admin_system_config_changed_section_fullsection>
                <observers>
                    <riskified_full>
                        <type>singleton</type>
                        <class>full/observer</class>
                        <method>saveRiskifiedConfig</method>
                    </riskified_full>
                </observers>
            </admin_system_config_changed_section_fullsection>
            <sales_order_payment_place_start>
                <observers>
                    <riskified_full>
                        <type>singleton</type>
                        <class>full/observer</class>
                        <method>saveOrderBefore</method>
                    </riskified_full>
                </observers>
            </sales_order_payment_place_start>
            <sales_order_payment_place_end>
                <observers>
                    <riskified_full>
                        <type>singleton</type>
                        <class>full/observer</class>
                        <method>salesOrderPaymentPlaceEnd</method>
                    </riskified_full>
                </observers>
            </sales_order_payment_place_end>
            <sales_order_payment_void>
                <observers>
                    <riskified_full>
                        <type>singleton</type>
                        <class>full/observer</class>
                        <method>salesOrderPaymentVoid</method>
                    </riskified_full>
                </observers>
            </sales_order_payment_void>
            <sales_order_payment_refund>
                <observers>
                    <riskified_full>
                        <type>singleton</type>
                        <class>full/observer</class>
                        <method>salesOrderPaymentRefund</method>
                    </riskified_full>
                </observers>
            </sales_order_payment_refund>
            <sales_order_payment_cancel>
                <observers>
                    <riskified_full>
                        <type>singleton</type>
                        <class>full/observer</class>
                        <method>salesOrderPaymentCancel</method>
                    </riskified_full>
                </observers>
            </sales_order_payment_cancel>
            <sales_order_place_before>
                <observers>
                    <riskified_full>
                        <type>singleton</type>
                        <class>full/observer</class>
                        <method>salesOrderPlaceBefore</method>
                    </riskified_full>
                </observers>
            </sales_order_place_before>
            <sales_order_place_after>
                <observers>
                    <riskified_full>
                        <type>singleton</type>
                        <class>full/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </riskified_full>
                </observers>
            </sales_order_place_after>
            <sales_order_save_before>
                <observers>
                    <riskified_full>
                        <type>singleton</type>
                        <class>full/observer</class>
                        <method>salesOrderSaveBefore</method>
                    </riskified_full>
                </observers>
            </sales_order_save_before>
            <sales_order_save_after>
                <observers>
                    <riskified_full>
                        <type>singleton</type>
                        <class>full/observer</class>
                        <method>salesOrderSaveAfter</method>
                    </riskified_full>
                </observers>
            </sales_order_save_after>
            <order_cancel_after>
                <observers>
                    <riskified_full>
                        <type>singleton</type>
                        <class>full/observer</class>
                        <method>salesOrderCancel</method>
                    </riskified_full>
                </observers>
            </order_cancel_after>
            <riskified_full_order_update>
                <observers>
                    <riskified_full_handle_order_update>
                        <class>full/observer</class>
                        <method>updateOrderState</method>
                    </riskified_full_handle_order_update>
                </observers>
            </riskified_full_order_update>
            <riskified_full_order_update_approved>
                <observers>
                    <riskified_full_handle_order_update_approved>
                        <class>full/observer</class>
                        <method>autoInvoice</method>
                    </riskified_full_handle_order_update_approved>
                </observers>
            </riskified_full_order_update_approved>
            <riskified_full_order_update_captured>
                <observers>
                    <riskified_full_handle_order_update_captured>
                        <class>full/observer</class>
                        <method>autoInvoice</method>
                    </riskified_full_handle_order_update_captured>
                </observers>
            </riskified_full_order_update_captured>
            <riskified_full_post_order_success>
                <observers>
                    <riskified_full_clear_retries>
                        <class>full/observer</class>
                        <method>clearRetriesForOrder</method>
                    </riskified_full_clear_retries>
                    <riskified_full_process_successful_post>
                        <class>full/observer</class>
                        <method>processSuccessfulPost</method>
                    </riskified_full_process_successful_post>
                </observers>
            </riskified_full_post_order_success>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <riskified_full_handle_default_failed_transaction>
                        <class>full/observer_order_payment_failed</class>
                        <method>handleDefaultFailedTransaction</method>
                    </riskified_full_handle_default_failed_transaction>
                </observers>
            </sales_model_service_quote_submit_failure>
            <sales_model_service_quote_submit_before>
                <observers>
                    <riskified_full_handle_quote_submit>
                        <class>full/observer_quote_submit</class>
                        <method>handleQuoteSubmit</method>
                    </riskified_full_handle_quote_submit>
                </observers>
            </sales_model_service_quote_submit_before>
            <riskified_full_order_update_declined>
                <observers>
                    <riskified_full_order_update_declined>
                        <type>singleton</type>
                        <class>full/observer_order_decline</class>
                        <method>handleOrderDecline</method>
                    </riskified_full_order_update_declined>
                </observers>
            </riskified_full_order_update_declined>
        </events>
        <template>
            <email>
                <riskified_order_declined module="full">
                    <label>Notification to customer when order was declined by Riskified</label>
                    <file>full/order/declined.html</file>
                    <type>html</type>
                </riskified_order_declined>
            </email>
        </template>
    </global>

    <frontend>
        <routers>
            <full>
                <use>standard</use>
                <args>
                    <module>Riskified_Full</module>
                    <frontName>full</frontName>
                </args>
            </full>
        </routers>
        <layout>
            <updates>
                <full>
                    <file>full.xml</file>
                </full>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <riskified_full after="Mage_Adminhtml">Riskified_Full_Adminhtml</riskified_full>
                        <frontName>riskifiedfull</frontName>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <module>
                        <type>singleton</type>
                        <class>full/observer</class>
                        <method>blockHtmlBefore</method>
                    </module>
                </observers>
            </adminhtml_widget_container_html_before>
            <sales_order_creditmemo_save_after>
                <observers>
                    <riskified_full_handle_creditmemo_save>
                        <class>full/observer_order_creditmemo_save</class>
                        <method>handleCreditmemoSave</method>
                    </riskified_full_handle_creditmemo_save>
                </observers>
            </sales_order_creditmemo_save_after>
            <sales_order_shipment_save_after>
                <observers>
                    <riskified_full_handle_shipment_save>
                        <class>full/observer_order_shipment_save</class>
                        <method>handleShipmentSave</method>
                    </riskified_full_handle_shipment_save>
                </observers>
            </sales_order_shipment_save_after>
        </events>
        <layout>
            <updates>
                <full>
                    <file>full.xml</file>
                </full>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <before_grid_prep>
                        <type>singleton</type>
                        <class>Riskified_Full_Model_Observer</class>
                        <method>addMassAction</method>
                    </before_grid_prep>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <riskified_full_retry_submission>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>full/cron::retrySubmissions</model>
                </run>
            </riskified_full_retry_submission>
            <riskfied_full_upload_historical_orders>
                <run>
                    <model>full/cron::uploadHistoricalOrders</model>
                </run>
            </riskfied_full_upload_historical_orders>
        </jobs>
    </crontab>

    <phpunit>
        <suite>
            <modules>
                <Riskified_Full/>
            </modules>
        </suite>
    </phpunit>

    <default>
        <fullsection>
            <full>
                <beaconurl>beacon.riskified.com</beaconurl>
                <env>SANDBOX</env>
                <!--<domain></domain>-->
                <!--<key></key>-->
                <order_status_sync>0</order_status_sync>
                <!--<approved_state>processing</approved_state>-->
                <!--<declined_state>canceled</declined_state>-->
                <auto_invoice_enabled>0</auto_invoice_enabled>
                <auto_invoice_capture_case>online</auto_invoice_capture_case>
                <debug_logs>0</debug_logs>
            </full>
            <decline_notification>
                <email_identity>general</email_identity>
                <title>{{store_name}}: Order # {{order_increment_id}} has been declined</title>
                <content><![CDATA[<p>We regret to inform you that your recent order #{{order_increment_id}} for {{products}}  has been declined.</p>]]></content>
            </decline_notification>
        </fullsection>
    </default>
</config>
