<?xml version="1.0"?>
<config>
    <modules>
        <Riskified_Full>
            <version>0.9.3</version>
        </Riskified_Full>
    </modules>
    <frontend>
        <routers>
            <full>
                <use>standard</use>
                <args>
                    <module>Riskified_Full</module>
                    <frontName>full</frontName>
                </args>
            </full>
        </routers>
        <layout>
            <updates>
                <full>
                    <file>full.xml</file>
                </full>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<full>
				<use>admin</use>
				<args>
					<module>Riskified_Full</module>
					<frontName>full</frontName>
				</args>
			</full>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Riskified_Full>
							<title>Full Module</title>
							<sort_order>10</sort_order>
						</Riskified_Full>
						 <system>
                            <children>
                                <config>
                                    <children>
	                                     <fullsection translate="title" module="full">  <!-- This is name of the section created by us -->
	                                         <title>Riskified</title>  <!-- Title as shown in User->Roles->Permissions Window -->
	                                         <sort_order>99</sort_order>
	                                     </fullsection>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<full>
					<file>full.xml</file>
				</full>
			</updates>
		</layout>
		<events>
	        <core_block_abstract_prepare_layout_before>
	            <observers>
	                <before_grid_prep>
	                    <type>singleton</type>
	                    <class>Riskified_Full_Model_Observer</class>
	                    <method>addMassAction</method>
	                </before_grid_prep>
	            </observers>
	        </core_block_abstract_prepare_layout_before>
    	</events>
    </adminhtml>   
    <global>
        <models>
            <paygate>
                <rewrite>
                    <authorizenet>Riskified_Full_Model_Authorizenet</authorizenet>
                </rewrite>
            </paygate>
        </models>
       <blocks>
           <adminhtml>
                <rewrite>
                    <sales_order_view>Riskified_Full_Block_Adminhtml_View</sales_order_view>
                </rewrite>
            </adminhtml>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Riskified_Full_Block_Adminhtml_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <full>
                <class>Riskified_Full_Helper</class>
            </full>
        </helpers>
        <events>
	     <checkout_type_onepage_save_order_after> 
	         <observers>
                 <save_after> 
                  <type>singleton</type>
                  <class>Riskified_Full_Model_Observer</class> 
                  <method>saveOrderAfter</method> 
                </save_after>
	        </observers>
	      </checkout_type_onepage_save_order_after>    
          <sales_order_payment_place_start> 
              <observers>
                  <save_after> 
                      <type>singleton</type>
                      <class>Riskified_Full_Model_Observer</class> 
                      <method>saveOrderBefore</method> 
                  </save_after>
              </observers>
          </sales_order_payment_place_start>    
          <sales_order_payment_place_end> 
              <observers>
                  <save_after> 
                      <type>singleton</type>
                      <class>Riskified_Full_Model_Observer</class> 
                      <method>salesOrderPlaceEnd</method> 
                  </save_after>
              </observers>
          </sales_order_payment_place_end>    
		</events>
    </global>
</config>
