<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <newtab translate="label" module="full">
            <label>Riskified</label>
            <sort_order>999</sort_order>
        </newtab>
    </tabs>

    <sections>
        <fullsection translate="label" module="full">
            <class>separator-top</class>
            <label>Settings</label>
            <tab>newtab</tab>
            <sort_order>130</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <full translate="label">
                    <label>API settings</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <env translate="label comment">
                            <label>Riskified environment</label>
                            <frontend_type>select</frontend_type>
                            <source_model>full/system_config_source_env</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Select Riskified's environment.<br> You can use sandbox for testing.
                                          <br>If you don't have a sandbox account please contact support@riskified.com ]]></comment>
                        </env>
                        <domain translate="label comment">
                            <label>Shop Domain</label>
                            <frontend_type>Text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[This is the shop domain used during signup. See <a href="https://www.riskified.com/documentation/magento.html" target="_blank">documentation</a> for more details.]]></comment>
                        </domain>
                        <key translate="label comment">
                            <label>Auth token</label>
                            <frontend_type>Text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[ Your <i>secret</i> auth token can be found in your <a href="https://app.riskified.com/main/settings/advanced" target="_blank">Riskified Settings page</a>. ]]></comment>
                        </key>
                        <order_status_sync translate="label comment">
                            <label>Order Status Sync</label>
                            <comment><![CDATA[ Enable/Disable automatic changes to Order status by Riskified's review process.
                          <br>Requires the <i>Order notification endpoint</i> to be configured correctly in your Riskified Settings page.
                          <br>Using the following mapping:
                          <br>'submit' => state: 'On Hold', status: 'On Hold (Riskified)'
                          <br>'approve' => state: [defined below by 'Approved State' value], status: [defined below by 'Approved Status' value]
                          <br>'decline' => state: [defined below by 'Declined State' value], status: [defined below by 'Declined Status' value]
                          <br> in case of transfer error  => state: 'On Hold', status: 'On Hold (Riskified Transport Error)'
                          <br><b>Important:</b> Might affect other extensions that are dependent on an Order's status.
                           ]]></comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </order_status_sync>
                        <approved_state translate="label comment">
                            <label>Approved State</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[The Magento state to move to when an order is approved]]></comment>
                            <source_model>full/system_config_source_approvedState</source_model>
                            <depends>
                                <order_status_sync>1</order_status_sync>
                            </depends>
                        </approved_state>
                        <approved_status_processing translate="label comment">
                            <label>Approved Status</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[The Magento status to move to when an order is approved]]></comment>
                            <source_model>full/system_config_source_processingStateStatuses</source_model>
                            <depends>
                                <order_status_sync>1</order_status_sync>
                                <approved_state>processing</approved_state>
                            </depends>
                        </approved_status_processing>
                        <approved_status_holded translate="label comment">
                            <label>Approved Status</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[The Magento status to move to when an order is approved]]></comment>
                            <source_model>full/system_config_source_holdedStateStatuses</source_model>
                            <depends>
                                <order_status_sync>1</order_status_sync>
                                <approved_state>holded</approved_state>
                            </depends>
                        </approved_status_holded>
                        <declined_state translate="label comment">
                            <label>Declined State</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[The Magento state to move to when an order is declined]]></comment>
                            <source_model>full/system_config_source_declinedState</source_model>
                            <depends>
                                <order_status_sync>1</order_status_sync>
                            </depends>
                        </declined_state>
                        <declined_status_canceled translate="label comment">
                            <label>Declined Status</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[The Magento status to move to when an order is declined]]></comment>
                            <source_model>full/system_config_source_canceledStateStatuses</source_model>
                            <depends>
                                <order_status_sync>1</order_status_sync>
                                <declined_state>canceled</declined_state>
                            </depends>
                        </declined_status_canceled>
                        <declined_status_holded translate="label comment">
                            <label>Declined Status</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[The Magento status to move to when an order is declined]]></comment>
                            <source_model>full/system_config_source_holdedStateStatuses</source_model>
                            <depends>
                                <order_status_sync>1</order_status_sync>
                                <declined_state>holded</declined_state>
                            </depends>
                        </declined_status_holded>
                        <auto_invoice_enabled translate="label comment">
                            <label>Enable Auto-Invoice</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[Should an invoice automatically be created when Riskified approves this order?]]></comment>
                            <depends>
                                <order_status_sync>1</order_status_sync>
                            </depends>
                        </auto_invoice_enabled>
                        <auto_invoice_capture_case translate="label comment">
                            <label>Auto-Invoice Capture Case</label>
                            <frontend_type>select</frontend_type>
                            <source_model>full/system_config_source_captureCase</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Should this invoice be captured online or offline?]]></comment>
                            <depends>
                                <order_status_sync>1</order_status_sync>
                            </depends>
                        </auto_invoice_capture_case>
                        <debug_logs translate="label comment">
                            <label>Debug logs</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Write additional debug logs?]]></comment>
                        </debug_logs>
                    </fields>
                </full>
            </groups>
        </fullsection>
    </sections>
</config>
