<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <newtab translate="label" module="full">
            <label>Riskified</label>
            <sort_order>999</sort_order>
        </newtab>
    </tabs>

    <sections>
        <fullsection translate="label" module="full">
            <class>separator-top</class>
            <label>Settings</label>
            <tab>newtab</tab>
            <sort_order>130</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <full translate="label">
                    <label>API settings</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <order_status_sync translate="label comment">
                            <label>Order Status Sync</label>
                            <comment><![CDATA[ Enable/Disable automatic changes to Order status by Riskified's review process.
                          <br>Requires the <i>Order notification endpoint</i> to be configured correctly in your Riskified Settings page.
                          <br>Using the following mapping:
                          <br>'submit' => 'on hold' <br>'approve' => 'processing'<br>'decline' => 'canceled'
                          <br><b>Important:</b> Might affect other extensions that are dependent on an Order's status.
                           ]]></comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </order_status_sync>
                        <env translate="label comment">
                            <label>Riskified environment</label>
                            <frontend_type>select</frontend_type>
                            <source_model>full/env</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Select Riskified's environment.<br> You can use sandbox for testing.
                                          <br>If you don't have a sandbox account please contact support@riskified.com ]]></comment>
                        </env>
                        <activationstatus>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <class>riskified_activationstatus</class>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </activationstatus>
                        <domain translate="label comment">
                            <label>Shop Domain</label>
                            <frontend_type>Text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[This is your Riskified's account username]]></comment>
                        </domain>
                        <key translate="label comment">
                            <label>Auth token</label>
                            <frontend_type>Text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[ Your <i>secret</i> auth token can be found in your Riskified Settings page. ]]></comment>
                        </key>
                    </fields>
                </full>
                <auto_invoice translate="label">
                    <label>Automatic Invoice Creation</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Should an invoice automatically be created when Riskified approves this order?]]></comment>
                        </enabled>
                        <capture_case translate="label comment">
                            <label>Capture Case</label>
                            <frontend_type>select</frontend_type>
                            <source_model>full/system_config_source_captureCase</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Should this invoice be captured online or offline?]]></comment>
                        </capture_case>
                    </fields>
                </auto_invoice>
            </groups>
        </fullsection>
    </sections>
</config>
