<?xml version="1.0"?>
<config>
    <modules>
        <Riskified_Full>
            <version>0.1.0</version>
        </Riskified_Full>
    </modules>
    <frontend>
        <routers>
            <full>
                <use>standard</use>
                <args>
                    <module>Riskified_Full</module>
                    <frontName>full</frontName>
                </args>
            </full>
        </routers>
        <layout>
            <updates>
                <full>
                    <file>full.xml</file>
                </full>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<full>
				<use>admin</use>
				<args>
					<module>Riskified_Full</module>
					<frontName>full</frontName>
				</args>
			</full>
        </routers>
    </admin>
    <adminhtml>
		<!-- <menu>
			<full module="full">
				<title>Full</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="full">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>full/adminhtml_full</action>
					</items>
				</children>
			</full>
		</menu> -->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Riskified_Full>
							<title>Full Module</title>
							<sort_order>10</sort_order>
						</Riskified_Full>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<full>
					<file>full.xml</file>
				</full>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <full>
                <class>Riskified_Full_Model</class>
                <resourceModel>full_mysql4</resourceModel>
            </full>
            <full_mysql4>
                <class>Riskified_Full_Model_Mysql4</class>
                <entities>
                    <full>
                        <table>full</table>
                    </full>
                </entities>
            </full_mysql4>
        </models>
        <resources>
            <full_setup>
                <setup>
                    <module>Riskified_Full</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </full_setup>
            <full_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </full_write>
            <full_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </full_read>
        </resources>
        <blocks>
            <full>
                <class>Riskified_Full_Block</class>
            </full>
        </blocks>
        <helpers>
            <full>
                <class>Riskified_Full_Helper</class>
            </full>
        </helpers>
    </global>
</config>