<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_Riskified>
            <version>0.1.0</version>
        </Excellence_Riskified>
    </modules>
    <frontend>
        <routers>
            <riskified>
                <use>standard</use>
                <args>
                    <module>Excellence_Riskified</module>
                    <frontName>riskified</frontName>
                </args>
            </riskified>
        </routers>
        <layout>
            <updates>
                <riskified>
                    <file>riskified.xml</file>
                </riskified>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<riskified>
				<use>admin</use>
				<args>
					<module>Excellence_Riskified</module>
					<frontName>riskified</frontName>
				</args>
			</riskified>
        </routers>
    </admin>
    <adminhtml>
		<!-- <menu>
			<riskified module="riskified">
				<title>Riskified</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="riskified">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>riskified/adminhtml_riskified</action>
					</items>
				</children>
			</riskified>
		</menu> -->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Excellence_Riskified>
							<title>Riskified Module</title>
							<sort_order>10</sort_order>
						</Excellence_Riskified>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<riskified>
					<file>riskified.xml</file>
				</riskified>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <riskified>
                <class>Excellence_Riskified_Model</class>
                <resourceModel>riskified_mysql4</resourceModel>
            </riskified>
            <riskified_mysql4>
                <class>Excellence_Riskified_Model_Mysql4</class>
                <entities>
                    <riskified>
                        <table>riskified</table>
                    </riskified>
                </entities>
            </riskified_mysql4>
        </models>
        <resources>
            <riskified_setup>
                <setup>
                    <module>Excellence_Riskified</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </riskified_setup>
            <riskified_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </riskified_write>
            <riskified_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </riskified_read>
        </resources>
        <blocks>
            <riskified>
                <class>Excellence_Riskified_Block</class>
            </riskified>
        </blocks>
        <helpers>
            <riskified>
                <class>Excellence_Riskified_Helper</class>
            </riskified>
        </helpers>
    </global>
</config>